/dist
/lib
/tmp

node_modules

oclif.manifest.json

# log files
*-debug.log
*-error.log

# npm local install
.yalc
yalc.lock
yarn.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov
.nyc_output

# dotenv environment variables file
.env
.env.test

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
